.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #131722;
  stroke-width: 5px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
